<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProgramWeb8</display-name>
  <servlet>
    <servlet-name>ServletHlavni</servlet-name>
    <servlet-class>servlet.Hlavni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHlavni</servlet-name>
    <url-pattern>/hlavni</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletZobrazit</servlet-name>
    <servlet-class>servlet.Zobrazit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletZobrazit</servlet-name>
    <url-pattern>/zobrazit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletPridat</servlet-name>
    <servlet-class>servlet.Pridat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPridat</servlet-name>
    <url-pattern>/pridat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletOdebrat</servlet-name>
    <servlet-class>servlet.Odebrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOdebrat</servlet-name>
    <url-pattern>/odebrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUpravit</servlet-name>
    <servlet-class>servlet.Upravit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpravit</servlet-name>
    <url-pattern>/upravit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUlozit</servlet-name>
    <servlet-class>servlet.Ulozit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUlozit</servlet-name>
    <url-pattern>/ulozit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNacist</servlet-name>
    <servlet-class>servlet.Nacist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNacist</servlet-name>
    <url-pattern>/nacist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>